{%extends 'base.html'%}{%block title%}Question
{{session["question_num"]+1}}{%endblock%} {%block content%}
<h3>Question {{session["question_num"]+1}}</h3>
<form action="/response/new" method="POST">
  <fieldset>
    <legend>{{survey.questions[session["question_num"]].question}}</legend>
    {%for choice in survey.questions[session["question_num"]].choices%}
    <input type="radio" name="choices" value="{{choice}}" required="required" />
    <label for="choice">{{choice}}</label>

    {%endfor%}
    <button type="submit">Submit</button>
  </fieldset>
</form>

{%endblock%}
